/*@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");*/

* {
  /*outline: 1px solid rgb(64, 184, 197);*/
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif !important;
  color: #221e1f;
  background-color: #FFF;

}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.whole {
  max-width: 1366px;
  outline: 1px solid #CCC;
  margin: 0 auto;
  /*background-color: #fff;*/
  box-shadow: 0px 2px 10px #00000014;


}

.gotop {
  position: fixed;
  right: 5%;
  top: 82vh;
  width: 70px;
  height: 70px;
  background-color: #56C4C5;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

.gotop:hover {
  background-color: #FF5D50;
}

.proposal:hover {
  background-color: white;
  outline: 1px solid #FF5D50;
  color: #FF5D50;
}

.proposal02:hover {
  background-color: #FF5D50;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 10.17%;
  /*z-index: 10;*/
  /*139內縮改成%*/
  /*border: 1px solid green;*/
  /*background-color: #afecfa;*/
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 28px !important;
    line-height: 40px !important;
  }

  .wrap {
    padding: 0;
    padding: 0 4%;
    /*139內縮改成%*/
  }
}

@media screen and (max-width: 375px) {
  h3 {
    font-size: 28px !important;
    line-height: 40px !important;
  }

  .wrap {
    padding: 0;
  }

  .container {
    padding: 0 20px;
  }
}

/*--------------------------------------------------*/
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 30px;
  /*border: 1px solid red;*/
}

.logo {
  width: 218px;
}

.logo img {
  vertical-align: middle;
  max-width: 100%;
}

.proposal {
  /*width: 12%;*/
  padding: 8px 32px;
  background-color: #ff5d50;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 24px;
  display: block;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 30%;
  }
}

@media screen and (max-width: 375px) {
  .topbar {
    border-bottom: 2px solid #ffd153;
    padding: 24px 28px;
  }

  .logo {
    width: 131px;
  }
}

/*--------------------主視覺-------------------------*/
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 217px;
  /*background-color: #fff;*/
}

.banner .sideA {
  /*width: 42%;*/
  width: 47%;
}

.banner .sideA h2 {
  font-size: 18px;
  line-height: 26px;
  color: #56c4c5;
  font-weight: bold;
  margin-bottom: 8px;
}

.banner .sideA .txt1 {
  font-size: 48px;
  line-height: 70px;
  color: #221e1f;
  font-weight: bold;
  margin-bottom: 16px;
}

.banner .sideA .txt2 {
  font-size: 20px;
  line-height: 29px;
  color: #221e1f;
  font-weight: normal;
}

.banner .sideB {
  width: 48.9%;
  margin-right: 3px;
}

.banner .sideB img {
  vertical-align: middle;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .banner {
    margin-bottom: 80px;
  }

  .banner .sideA {
    width: 48%;
    margin-right: 3px;
  }

  .banner .sideB {
    width: 48%;
  }

  .banner .sideA h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner .sideA .txt1 {
    font-size: 32px;
    line-height: 46px;
  }

  .banner .sideA .txt2 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .banner {
    flex-direction: column;
    margin-bottom: 92px;
  }

  .banner .sideA {
    width: 100%;
    margin-bottom: 32px;
  }

  .banner .sideA h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner .sideA .txt1 {
    font-size: 32px;
    line-height: 46px;
  }

  .banner .sideA .txt2 {
    font-size: 16px;
    line-height: 24px;
  }

  .banner .sideB {
    width: 100%;
    text-align: center;
  }

  /*.sideB img{
    width: 301px;
    height: 302px;    
  }*/
}

/*------------------三大平台------------------------*/
.social {
  margin-bottom: 100px;
  /*background-color: #fff;*/
}

.title01 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 48px;
  /*注意其他同樣class的*/
}

.social_group {
  display: flex;
  justify-content: space-around;
}

.social_item {
  text-align: center;
  width: 24%;
}

.social_item img {
  width: 90px;
  height: 90px;
  max-width: 100%;
}

.social_item h4 {
  font-size: 24px;
  line-height: 35px;
  margin-top: 24px;
  font-weight: bold;
}

.social_item p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  color: #747474;
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 80px;
  }

  .social_group {
    justify-content: space-between;
  }

  .social_item {
    text-align: center;
    width: 31%;
  }

  .social_item h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .social_item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .social_group {
    flex-direction: column;
  }

  .social_item {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }

}

/*---------------任何角色---------------------*/
.character {
  text-align: center;
  /*background-color: #fff;*/
 /* margin-bottom: 100px;*/
}

.character .title01 {
  margin-bottom: 16px;
}

.character h5 {
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 29px;
}

.character_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.character_item {
  width: 23.9%;
  /*border: 1px solid blue;*/
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 2px 10px #00000014;
}

.character_item img {
  max-width: 100%;
  border-radius: 12px 12px 0 0 !important;
}

.character_item h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #56c4c5;
  margin-top: 16px;
}

.character_item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #221e1f;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 0 16px;
}

@media screen and (max-width: 767px) {
 

  .character_group {
    /*flex-direction: column;*/
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .character h5 {
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 26px;
  }

  .character_item {
    /* text-align: center;*/
    width: 48%;
    margin-bottom: 30px;
  }

  .character_item img {
    /*max-width: 69%;*/
    /*min-width: 260px;*/
    border-radius: 0 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  
  .character_group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
    
  }

  .character_item {
    /*text-align: center;*/
    width: 77.6%;
    margin-bottom: 24px;
  }

  .character_item img {
    /*max-width: 69%;*/
    /*min-width: 260px;*/
    border-radius: 0 0 0 0;
  }
}

/*------------------------了解客戶----------------------------*/

.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.feature .sideA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 47%;
}

.feature .sideB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53%;
}

.sideB_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 68%;
}

.sideB_box .title01 {
  text-align: left;
  /*吃到前面title01屬性，所以沒這行會是置中狀態*/
  margin-bottom: 16px;
}

.sideB_box p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}

.proposal02 {
  padding: 12px 32px;
  font-size: 18px;
  line-height: 26px;
  /*width: 136px;*/
  border-radius: 27px;
  background-color: #56c4c5;
  color: white;
  text-align: center;
}

.tool {
  width: 45%;
  text-align: center;
  box-shadow: 0px 2px 10px #00000014;
  margin-bottom: 28px;
  padding: 32px 32px 0 32px;
  border-radius: 12px;
  background-color: #fff;
}

.tool h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  margin-top: 24px;
}

.tool p {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 48px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .feature {
    flex-direction: column-reverse;
    margin-bottom: 52px;
  }

  .feature .sideA {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .feature .sideA .tool {
    width: 48%;
  }

  .tool {
    text-align: left;
    /* margin-top: 32px;*/
  }

  .feature .sideB {
    width: 100%;
    margin-bottom: 32px;
  }

  .sideB_box {
    /*width: 100%;*/
    text-align: center;
    align-items: center;
  }

  .sideB_box .title01 {
    text-align: center;
  }

  .sideB_box p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .feature {
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }

  .feature .sideA {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .feature .sideA .tool {
    width: 68.7%;
  }

  .tool {
   
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    margin-bottom: 24px;
  }

  .feature .sideB {
    width: 100%;
  }

  .sideB_box {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sideB_box .title01 {
    text-align: center;
  }
}

/*-------------------好評如潮------------------------*/
.feedback_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.feedback .title01 {
  margin-bottom: 104px;
}

.feedback_item {
  width: 32.3%;
  position: relative;
  border-radius: 12px;
  padding: 24px 30px;
  box-shadow: 0px 2px 10px #00000014;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.photo {
  border-radius: 50px;
  position: absolute;
  top: -56px;
  left: 32px;
  width: 80px;
  height: 80px;
}

.feedback_txt {
  margin: 24px 0;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 24px;
  text-align: justify;
}

.feedback_item h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  font-weight: bold;
}

.job_star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.job_star p {
  font-size: 16px;
  line-height: 24px;
}

.star_group img {
  vertical-align: center;
  margin-left: 8.22px;
}

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.dot {
  background-color: #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 4px;
}

.yellow_dot {
  width: 16px;
  background-color: #ffd153;
}

@media screen and (max-width: 767px) {
  .feedback {
    margin-bottom: 80px;
  }

  .feedback .title01 {
    margin-bottom: 80px;
  }

  .feedback_group {
    justify-content: center;
  }

  .feedback_item {
    width: 80%;
  }

  .dispear {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .feedback_group {
    flex-direction: column;
  }

  .feedback_item {
    width: 100%;
  }

  .dispear {
    display: none;
  }
}

/*------------------美好用戶體驗--------------------*/
.call_to_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 503px;
  background-image: url("../img/home_footer.svg");
  background-repeat: no-repeat;
  background-position: top;
  /*background-size: 100% auto;*/

}

.call_to_action .title01 {
  margin-top: 260px;
}

.call_to_action .proposal02 {
  margin-bottom: 100px;
}

@media screen and (max-width: 375px) {
  .call_to_action {
    background-image: url("../img/footer_sm.svg");
  }

  .call_to_action .title01 {
    font-size: 24px !important;
    line-height: 35px !important;
    /*因為前面有宣告h3的RWD，所以這裡要再加上important來改變*/
    margin-top: 293px;
    margin-bottom: 24px;
  }

  .call_to_action .proposal02 {
    margin-bottom: 60px;
  }

}

footer span {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 16px 0;
  /*width: 100%;*/
  background-color: #f5f5f5;
  display: block;
}

/*---------------------背景---------------------*/
.bg_img {

  position: relative;
  /*background-color: #fff;*/
  z-index: -2;
}

.bg_item1 {

  width: 62%;
  height: 768px;
  background-image: url("../img/bg_home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}


.bg_item2 {
  width: 25.9%;
  height: 360px;
  transform: scaleX(-1);

  background-image: url("../img/ball01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 224px;
  position: absolute;
  top: 590px;
  left: 0;

}


.bg_item3 {
  width: 22.3%;
  height: 310px;
  /*transform:scaleX(-1);*/

  background-image: url("../img/ball02.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: 100px;
  top: 1690px;
  right: 0;

}


.bg_item4 {
  width: 10.9%;
  height: 150px;
  /*transform:scaleX(-1);*/

  background-image: url("../img/ball03.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2640px;
  left: 50px;

}

@media screen and (max-width: 992px) {

  .bg_item2 {

    background-position: 150px;
  }

  .bg_item3 {

    top: 1550px;
  }

  .bg_item4 {

    top: 2560px;
  }

}

@media screen and (max-width: 767px) {

  .bg_item2 {

    background-position: 130px;
    top: 400px;
  }

  .bg_item3 {

    top: 1890px;
  }

  .bg_item4 {

    top: 3030px;
  }

}

@media screen and (max-width: 375px) {
  .bg_item1 {

    width: 305px;
    height: 305px;
    background-image: url("../img/bg_home_sm.svg");
    top: 410px;
    right: 21px;
  }
  

  .bg_item2 {

    background-position: 50px;
    top: 670px;
  }

  .bg_item3 {
    width: 35%;
    background-position: 60px;
    top: 3250px;
  }

  .bg_item4 {
    width: 40%;
    transform:scaleX(-1);
    background-position: 70px;
    top: 4910px;
    left: 0;
  }

}